name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ vars.USERNAME }}/tg-parser-ci:latest
    env:
      API_ID: ${{ vars.API_ID }}
      API_HASH: ${{ secrets.API_HASH }}

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run basic checks
        run: python -m compileall .

      - name: Run unit tests
        run: python -m pytest -q
